*{box-sizing: border-box;}
body {position: relative; background: #f4f4d9; color: #2d211f; font-size: 16px; line-height: 1.8; font-family: sans-serif; max-width: 850px; margin: 30px auto; padding: 15px 30px;}
ul {padding: 0; list-style: none; margin: 0;}
p {margin-bottom: 15px;}
.navegacion a{display: block; text-decoration: none; color: #2d211f; border-bottom: 1px solid #2d211f;}
.lanzador-menu {text-decoration: none; color: #fff; padding: 6px 10px; background-color: #2d211f; border-radius: 3px;}
.aa {transition: 1s color;}
@media screen and (min-width: 600px) {
    .lanzador-menu{display: none;}
    .navegacion {position: absolute; top: -30px;}
    body {border-top: 60px;}
    .navegacion li{display: inline-block; margin-right: 15px;}
}
@media screen and (max-width: 550px) {
    p{font-size: 10px}
}
.caja {background-color: red; border-color: rebeccapurple; border: solid; padding: 30px; margin: 30px; transition: 3s; background-color: 2s;}
.caja:hover {background-color: blue;}
img {opacity: 0.5; transition: 0.5s;}
img:hover {opacity: 1;}
