*{box-sizing: border-box}

/*BODY*/
body {margin: 0px;
}





/*ENCABEZADO*/

header {background-image: url(imagenes/Fondo1.jpg); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; text-align: center; padding: 20%; margin-left: auto; margin-right: auto;}

header h1 {font-size: 44px; color: #ded6c0;}

header p {font-size: 16px; color: white;}

.contenedor {background-color: #ded6c0; width: 8%; height: 2px; margin-left: auto; margin-right: auto}


#logo {position: absolute; left: 30px; top: 30px;}




/*NAV*/
#menuprincipal {position: absolute; top: 20px; right: 20px;}

#menuprincipal li {display: inline-block; padding: 10px 10px 0px 10px; margin-right: 5px;}

#menuprincipal a {text-decoration: none; font: bold 100% verdana, sans-serif; color: white;}




/*CONTENIDO*/

main {text-align: center;}

#caja1 {float: left; width: 50%; padding: 5%; background-color: #d03b40; color: #ded6c0;}
#caja2 {float: right; width: 50%; padding: 5%; background-color: #ded6c0; color: #d03b40;}

.fondo2 {background-image: url(imagenes/Fondo2.jpg);  background-repeat: no-repeat; background-size: cover; background-attachment: fixed; padding: 15%; clear: both;}

#caja3 {background-color: #ded6c0; color: #d03b40; float: left; width: 50%; padding: 5%;}

#caja4  {background-color: #d03b40; color: #ded6c0; float: right; width: 50%; padding: 5%;}

#fondo2 h2 {color: white; font-size: 28px;}

#contenedor1 {background-color: #ded6c0; margin-left: auto; margin-right: auto; width: 4%; height: 2px;} 

#fondo2 p {color:#ded6c0; font-size: 16px;}

#contenedor2 {border: solid; border-color: #ded6c0; color: #ded6c0; width: 22%; margin-left: auto; margin-right: auto; padding-top: 0.5%; padding-bottom: 0.5%;}

.multiples {margin: 0px; }

#icono1 {float: left; width: 50%; height: 300px;}
#icono1 img {float: left; padding-left: 50px; padding-top: 65px; padding-bottom: 50px;}
#icono1 h2 {padding-top: 45px;}

#icono2 {float: right; width: 50%; height: 300px;}
#icono2 img {float: left; padding-left: 50px; padding-top: 65px; padding-bottom: 50px;}
#icono2 h2 {padding-top: 45px;}

#icono3 {float: left; width: 50%; height: 300px;}
#icono3 img {float: left; padding-left: 50px; padding-top: 65px; padding-bottom: 50px;}
#icono3 h2 {padding-top: 45px;}

#icono4 {float: right; width: 50%;height: 300px;}
#icono4 img {float: left; padding-left: 50px; padding-top: 65px; padding-bottom: 50px;}
#icono4 h2 {padding-top: 45px;}





/*PIE DE PAGINA*/

#volver {text-align: center; font: bold 100% verdana, sans-serif; color: white;}

footer {background-color: #201914; color: #ded6c0; width: auto; height: 100px; clear: both;}

#derechos {padding-top: 30px; padding-left: 20px;}
